on:
  push:
    branches:
      - devel
      - test

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-20.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: "release"
          extra-repositories: "https://inla.r-inla-download.org/R/testing"

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies on Linux (GL)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -y && sudo apt-get install -y libglu1-mesa-dev
          
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: '"all"'
          extra-packages: |
             pkgdown
      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Install package
        run: R CMD INSTALL .

      - name: Deploy package
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE)'
          git config pull.rebase true
          git fetch origin          
          git checkout repo_files
          git checkout gh-pages
          git checkout repo_files -- src/contrib
          git add src
          git commit -m "Adding repo files"
          git push origin gh-pages
